$themes: (
  light: (
    bg-4: #d5d5d5,
    bg-3: #f1f1f1bd,
    bg-2: #eaeaea,
    bg-1: #f8f8f8,
    bg-tip-1: #c8d4c8bf,
    bg-tip-2: #5aa35ac2,
    bg-war-1: #ecc5c5bf,
    bg-war-2: #d45959e2,
    text-a: #393939,
    text-b: #6e6e6e,
    text-c: #a0a0a0,
    text-d: #dedede,
    text-primary: var(--el-color-primary),
    hight-color-1: black,
    hight-color-2: rgb(64, 64, 64),
    hljs-color: #383a42,
    hljs-bg: #fafafa,
    hljs-comment-color: #a0a1a7,
    hljs-keyword: #a626a4,
    hljs-section: #e45649,
    hljs-literal: #0184bb,
    hljs-addition: #50a14f,
    hljs-attr: #986801,
    hljs-bullet: #986801,
    hljs-built: #986801
  ),
  dark: (
    bg-4: #7f7f7f,
    bg-3: #222222bd,
    bg-2: #2e2e2e,
    bg-1: #222222,
    bg-tip-1: #012e018b,
    bg-tip-2: #009400c2,
    bg-war-1: #4905058b,
    bg-war-2: #c32b2be2,
    text-a: #b9b9b9,
    text-b: #8b8b8b,
    text-c: #6e6e6e,
    text-d: #656565,
    text-primary: var(--el-color-primary),
    hight-color-1: white,
    hight-color-2: rgb(200, 200, 200),
    hljs-color: #abb2bf,
    hljs-bg: #282c34,
    hljs-comment-color: #7b7f88,
    hljs-keyword: #c678dd,
    hljs-section: #e06c75,
    hljs-literal: #56b6c2,
    hljs-addition: #98c379,
    hljs-attr: #d19a66,
    hljs-bullet: #61aeee,
    hljs-built: #e6c07b
  )
);
