@import "element-plus/theme-chalk/dark/css-vars.css";
@import "@/scss/index";

/**
 * 设置昼夜模式下使用的颜色
 *
 * @author Himmelbleu
 * @date 2023 年 2 月 14 日
 */
html.dark {
  --l-bg-4: #7f7f7f;
  --l-bg-3: #222222bd;
  --l-bg-2: #2e2e2e;
  --l-bg-1: #222222;
  --text-a: #a7a7a7;
  --text-b: #8b8b8b;
  --text-c: #6e6e6e;
  --text-d: #656565;
  --l-hight-color-1: white;
  --hljs-color: #abb2bf;
  --hljs-bg: #282c34;
  --hljs-comment-color: #5c6370;
  --hljs-keyword: #c678dd;
  --hljs-section: #e06c75;
  --hljs-literal: #56b6c2;
  --hljs-addition: #98c379;
  --hljs-attr: #d19a66;
  --hljs-bullet: #61aeee;
  --hljs-built: #e6c07b;
}

html.light {
  --l-bg-4: #d5d5d5;
  --l-bg-3: #e7e7e7bd;
  --l-bg-2: #eaeaea;
  --l-bg-1: #f8f8f8;
  --text-a: #383838;
  --text-b: #686868;
  --text-c: #969696;
  --text-d: #dedede;
  --l-hight-color-1: black;
  --hljs-color: #383a42;
  --hljs-bg: #fafafa;
  --hljs-comment-color: #a0a1a7;
  --hljs-keyword: #a626a4;
  --hljs-section: #e45649;
  --hljs-literal: #0184bb;
  --hljs-addition: #50a14f;
  --hljs-attr: #986801;
  --hljs-bullet: #986801;
  --hljs-built: #986801;
}

html {
  --text-primary: var(--el-color-primary);
  --l-animation-effect: all 0.3s ease-in-out;
}
