/**
 * 设置 class 通用样式
 *
 * @author Himmelbleu
 * @date 2023 年 1 月 15 日
 * @url https://www.cnblogs.com/Himmelbleu/#/
 */
@import "./mixins.scss";

.hover {
  cursor: pointer !important;
  transition: var(--l-transition);

  &:hover {
    color: var(--el-color-primary) !important;
    border-bottom-color: var(--el-color-primary) !important;
  }
}

.noscroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

.divider {
  margin: {
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;
  }
  border: {
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    style: dashed;
    color: var(--l-divider-bg);
  }
}

.min-height {
  min-height: calc(100vh - 3rem);
}

.headtip {
  padding-left: 0.4rem;
  border-radius: 0.25rem;
  border-left: 0.25rem solid var(--el-color-primary);
}

.noselect {
  user-select: none;
}

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.textarea {
  --uno: mb-5 rd-2;
  border: 1px solid var(--el-border-color-darker);
  background-color: transparent;
  @include hover($border-color: all, $font-color: false);

  textarea {
    --uno: rd-2 p-2 l-fiv-size;
    background-color: transparent;
    width: 100%;
    height: 15rem;
    border: none;
    outline: none;
    color: var(--l-pri-color);
    resize: none;
  }
}
