/**
 * 设置 class 通用样式
 *
 * @author Himmelbleu
 * @date 2023 年 1 月 15 日
 */
@import "./mixins.scss";

.hover {
  cursor: pointer !important;
  transition: var(--l-animation-effect);

  &:hover {
    color: var(--el-color-primary) !important;
    border-bottom-color: var(--el-color-primary) !important;
  }
}

.noscroll {
  & {
    scrollbar-color: initial;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.divider {
  margin: {
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 1rem;
  }
  border: {
    top: 0;
    left: 0;
    right: 0;
    bottom: 1px;
    style: dashed;
    color: #464646;
  }
}

.min-height {
  min-height: calc(100vh - 3rem);
}

.noselect {
  user-select: none;
}

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.textarea {
  --uno: mb-5 rd-2;
  border: 1px solid var(--el-border-color-darker);
  background-color: transparent;
  @include hover($border-color: all, $font-color: false);

  textarea {
    --uno: rd-2 p-2 l-size-2;
    background-color: transparent;
    width: 100%;
    height: 15rem;
    border: none;
    outline: none;
    color: var(--l-color-1);
    resize: none;
  }
}

@include pc() {
  .page {
    --uno: f-s-c relative;
    z-index: 2;

    & > .content {
      width: 55vw;
    }
  }

  .l-works-welcome {
    .content {
      --uno: f-c-c;

      & > div {
        width: 55vw;
      }
    }
  }
}

@include mb() {
  .page {
    --uno: px-4;
    width: 100%;
  }

  .l-works-welcome {
    .content {
      --uno: px-4;
    }
  }
}

.welcome {
  * {
    color: #ededed !important;
  }

  .cover::after,
  .cover::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wave-1 {
    top: 0;
    left: -100%;
    opacity: 0.5;
    animation: move-wave-to-right 20s infinite linear;
    background: url(https://images.cnblogs.com/cnblogs_com/blogs/666252/galleries/2281365/o_230410092356_wave-1.png) repeat-x;
  }

  .wave-2 {
    top: 0;
    left: 0%;
    opacity: 0.6;
    animation: move-wave-to-left 30s infinite linear;
    background: url(https://images.cnblogs.com/cnblogs_com/blogs/666252/galleries/2281365/o_230410092402_wave-2.png) repeat-x;
  }

  @keyframes move-wave-to-right {
    0% {
      transform: translateX(0%) scaleY(1);
    }
    50% {
      transform: translateX(25%) scaleY(0.85);
    }
    100% {
      transform: translateX(50%) scaleY(1);
    }
  }

  @keyframes move-wave-to-left {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}
