/**
 * 设置所有元素共有的样式
 *
 * @author Himmelbleu
 * @date 2023 年 2 月 14 日
 */
html,
body {
  margin: 0;
  padding: 0;
  color: var(--text-a);
  font-size: var(--l-respond-text);
  background-color: var(--l-bg-1);

  &::-webkit-scrollbar {
    display: none;
  }
}

a:link {
  text-decoration: none;
}

@include pc() {
  .page {
    --uno: f-s-c relative;
    z-index: 2;

    & > .content {
      width: 55vw;
    }
  }
}

@include mb() {
  .page {
    --uno: px-4;
    width: 100%;
  }
}

.scroll-none {
  scrollbar-color: initial;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.shine-text {
  background: linear-gradient(
    to right,
    #409eff,
    #2d8cf0,
    #5e72e4,
    #673bb7,
    #fa7298,
    #ff9700,
    #607d8b,
    #009688,
    #42b983,
    #906f61
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: shine-animation 10s linear infinite alternate;
}

.shine-bg {
  background: linear-gradient(
    to right,
    #409eff,
    #2d8cf0,
    #5e72e4,
    #673bb7,
    #fa7298,
    #ff9700,
    #607d8b,
    #009688,
    #42b983,
    #906f61
  );
  background-size: 400% auto;
  animation: shine-animation 10s linear infinite alternate;
  filter: blur(55px);
}

@keyframes shine-animation {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

.bounce {
  animation: bounce-animation 0.8s ease alternate infinite;
}

@keyframes bounce-animation {
  0% {
    transform: translateY(0px) scale(1);
  }

  100% {
    transform: translateY(-8px) scale(0.95, 1);
  }
}

.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  display: block;
  visibility: hidden;
}

.textarea {
  --uno: mb-5 rd-2 transition-all-300;
  background-color: transparent;
  border: 1px solid var(--el-border-color-darker);

  &:hover {
    color: var(--el-color-primary) !important;
    border-color: var(--el-color-primary) !important;
  }

  textarea {
    --uno: rd-2 p-2 text-0.9rem;
    background-color: transparent;
    width: 100%;
    height: 15rem;
    border: none;
    outline: none;
    color: var(--text-a);
    resize: none;
  }
}

.fade-in-out {
  animation: opacity-animation 0.9s ease-in forwards;

  @keyframes opacity-animation {
    @for $index from 0 to 10 {
      #{$index * 10%} {
        opacity: math.div($index, 10);
      }
    }
  }
}
