/**
 * 覆盖 element-plus 样式
 *
 * @author Himmelbleu
 * @date 2023 年 1 月 15 日
 */
:root {
  --el-text-color-regular: var(--text-a) !important;
  --el-text-color-primary: var(--text-a) !important;
  --el-color-primary: var(--l-theme-color) !important;
  --el-border-radius-base: 0.5rem !important;
  --el-color-primary-light-5: var(--l-theme-color) !important;
  --el-font-size-base: var(--text-0.9rem) !important;
  --el-fill-color-blank: transparent !important;
  --el-text-color-placeholder: var(--text-c) !important;
}

.el-rate__icon {
  margin: 0 !important;
}
