/**
 * markdown 样式
 *
 * @author Himmelbleu
 * @date 2023 年 6 月 11 日
 */

code {
  margin: 0;
  color: var(--el-color-danger-light-3);
  font-family: var(--l-code-family);
  font-size: var(--l-code-size);

  span {
    font-family: var(--l-code-family);
    font-size: var(--l-code-size);
  }
}

.bleu-pre {
  --uno: rd-2;
  margin: 1.5rem 0;
  background: var(--l-bg-3);

  pre {
    margin: 0;
    padding: 0 1.2rem 1.5rem 1.2rem;
  }

  .tools {
    .right {
      padding: 0.5rem 1.2rem 0.5rem 1.2rem;
      --uno: b-b-primary b-b-1 b-b-solid text-primary;
    }

    .left {
      padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    }
  }
}

a > code {
  color: var(--text-primary) !important;
}

.markdown-textual {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500 !important;
  }

  h1 {
    font-size: 1.2rem !important;
  }

  h2 {
    font-size: 1.1rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }

  h4 {
    font-size: 1rem !important;
  }

  h5 {
    font-size: 1rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  blockquote {
    background-color: var(--l-bg-1);
    color: var(--text-b);
    margin: 0;
    border: {
      left: {
        width: 0.3rem;
        color: var(--text-primary);
        style: solid;
      }
    }
    padding: {
      top: 0.8rem;
      bottom: 0.8rem;
    }

    p {
      margin: 0 !important;
      padding-left: 1rem;
    }
  }

  u {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dotted var(--text-a);
  }

  a {
    color: var(--text-primary);
  }

  p {
    margin: 1.5rem 0;
  }

  img {
    cursor: zoom-in;
    max-width: 100%;
  }

  ol,
  ul {
    padding-left: 4rem;

    li {
      margin-bottom: 0.5rem;
      position: relative;
      list-style-type: none;
      counter-increment: step-counter;

      &::before {
        content: counter(step-counter);
        border-radius: 50%;
        height: 1.7rem;
        width: 1.7rem;
        position: absolute;
        top: 0;
        left: -2.5rem;
        --uno: f-c-c text-0.8rem;
        font-weight: 400;
        color: var(--text-a);
        background: var(--l-bg-2);
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  table {
    th {
      font-weight: 600;
    }

    th,
    td {
      padding: 0.7rem 1.5rem;
      border: 1px dotted #464646;
      border-radius: 0.5rem;
    }
  }

  strong {
    font-weight: 600;
  }
}
