/**
 * 混合样式，适用于无法使用在 class 元素上，比 common.scss 更加智能化些
 *
 * @author Himmelbleu
 * @date 2023 年 1 月 15 日
 * @url https://www.cnblogs.com/Himmelbleu/#/
 */

@mixin flex($justify: center, $items: center, $content: center, $wrap: wrap, $row: row) {
  display: flex;
  align-content: $content;
  align-items: $items;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $row;
}

@mixin hover($border-color: bottom, $font-color: true) {
  cursor: pointer;
  transition: var(--l-transition);

  &:hover {
    @if ($font-color == true) {
      color: var(--el-color-primary) !important;
    }
    @if $border-color == bottom {
      border-bottom-color: var(--el-color-primary) !important;
    } @else if $border-color == all {
      border-color: var(--el-color-primary) !important;
    }
  }
}

// PC 端
@mixin pc() {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

// 移动端
@mixin mb() {
  @media screen and (max-width: 1000px) {
    @content;
  }
}
