$themes: (
  light: (
    hljs-color: #383a42,
    hljs-bg: #fafafa,
    hljs-comment-color: #a0a1a7,
    hljs-keyword: #a626a4,
    hljs-section: #e45649,
    hljs-literal: #0184bb,
    hljs-addition: #50a14f,
    hljs-attr: #986801,
    hljs-bullet: #986801,
    hljs-built: #986801
  ),
  dark: (
    hljs-color: #abb2bf,
    hljs-bg: #282c34,
    hljs-comment-color: #7b7f88,
    hljs-keyword: #c678dd,
    hljs-section: #e06c75,
    hljs-literal: #56b6c2,
    hljs-addition: #98c379,
    hljs-attr: #d19a66,
    hljs-bullet: #61aeee,
    hljs-built: #e6c07b
  )
);
