/**
 * 设置响应式 font-size
 *
 * @author Himmelbleu
 * @date 2023 年 1 月 15 日
 */
html {
  --l-respond-text: 14px;
}

// 小于 1400px 都是 14px，超过 1400px 就开始依次往上递增
@for $i from 1 through 20 {
  $min: $i * 100 + 1400px;

  @media screen and (min-width: $min) {
    html {
      --l-respond-text: #{calc($min / 100)};
    }
  }
}
